 @keyframes animColor {
	0% {
		background-color: red;
	}
	25% {
		background-color: yellow;
	}
	50% {
		background-color: blue;
	}
	100% {
		background-color: green;
	}
}

@keyframes animFontsize {
	0% {
		font-size: 18px;
	}
	50% {
		font-size: 50px;
	}
	100% {
		font-size: 18px;
	}
}

@keyframes animWidth {
	0% {
		width: 200px;
	}
	50% {
		width: 300px;
	}
	100% {
		width: 400px;
	}
}

body {
	background-color: white;
}

#textRight p {
	font-size: 1.3em;
	font-weight: bold;
}

#textRight p:nth-of-type(2)
{
	background-color: #FF0000;
}


#container{
    font-family: "Roboto", sans-serif;
}

#container p {
    font-weight: normal;
    color: #000000;
}

#imageRounded
{
    border-radius: 25px;
    border: 2px solid red;
    background-image: url("webvr-logo-square.png");
    background-position: left top;
    background-repeat: repeat;
    background-size: cover;
    padding: 25px;
}


.alarm{
    color: #b70000;
    text-shadow: 0 0 0 #b70000,
                 0 0 1px #fff,
                 0 0 1px #fff,
                 0 0 2px #fff,
                 0 0 2px #fff,
                 0 0 3px #fff,
                 0 0 3px #fff,
                 0 0 4px #fff,
                 0 0 4px #fff;
}



table, th, td{
    border-collapse: collapse;
    border: 1px solid black;
    color: #FFFFFF;
}


td{
    padding: 5px;
}

th, td{ 
    background-color: green;
}


.rs-base{
    position: absolute;
    z-index: 10000;
    padding: 10px;
    background-color: #222;
    font-size: 10px;
    line-height: 1.2em;
    width: 350px;
    font-family: 'Roboto Condensed', tahoma, sans-serif; 
    right: 0;
    top: 0;
    overflow: hidden;
}

.rs-base h1{
    margin: 0;
    padding: 0;
    font-size: 1.4em;
    color: #fff;
    margin-bottom: 5px;
    cursor: pointer;
}

.rs-base div.rs-group{
    margin-bottom: 10px;
}

.rs-base div.rs-group.hidden{
    display: none;
}

.rs-base div.rs-fraction{
    position: relative;
    margin-bottom: 5px;
}

.rs-base div.rs-fraction p{
    width: 120px;
    text-align: right;
    margin: 0;
    padding: 0;
}

.rs-base div.rs-legend{
    position: absolute;
    line-height: 1em;
}

.rs-base div.rs-counter-base{
    position: relative;
    margin: 2px 0;
    height: 1em;
	color: #FFFFFF;
}

.rs-base span.rs-counter-id{
    position: absolute;
    left: 0;
    top: 0;
}

.rs-base div.rs-counter-value{
    position: absolute;
    left: 90px;
    width: 30px;
    height: 1em;
    top: 0;
    text-align: right;
	color: #FFFFFF;
}

.rs-base canvas.rs-canvas{
    position: absolute;
    right: 0;
}

